<div class="flex flex-col justify-center items-center h-full w-full">
  {{#if isLogged}}
    {{i18n "Your are logged. Logout first"}}
  {{else}}

    <div
      class="bg-[#323231] rounded-lg p-8 shadow-lg max-w-sm w-full"
      id="loginform"
    >
      {{#i18n}}{{loginError}}{{/i18n}}<br />
      <h2 class="text-3xl font-bold text-white text-center mb-6">{{i18n
          "Login"
        }}</h2>
      <div class="space-y-4 text-[#fff] max-w-md mx-auto">
        <div class="relative flex items-center">
          <input
            type="text"
            name="login"
            id="login"
            placeholder="{{i18n 'Login'}}"
            class="px-4 py-3 bg-[#323231] w-full text-sm border outline-[#edb705] rounded transition-all"
            value=""
          />
          <div class="absolute right-4 flex items-centerpointer-events-none">
            <i class="fa-regular fa-user text-gray-300"></i>
          </div>
        </div>

        <div class="relative flex items-center">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="{{i18n 'Password'}}"
            class="px-4 py-3 bg-[#323231] w-full text-sm border outline-[#edb705] rounded transition-all"
            value=""
          />
          <div class="absolute right-4 flex items-centerpointer-events-none">
            <i class="fa-regular fa-eye text-gray-300"></i>
          </div>
        </div>
        <div class="relative flex items-centerpointer-events-none">
          <button
            type="submit"
            id="loginbutton"
            class="absolute right-0 px-3 py-3 bg-[#edb705] hover:bg-[#ab8403] text-white rounded-lg active:bg-[#006bff]"
          ><img
              src="<?php echo '/controller/ImageController.php?image=login.svg'; ?>"
            /></button>
        </div>
      </div>
      <div class="mt-4">
        {{i18n "New here?"}}
        <a
          href="#login"
          id="registerlink"
          class="text-yellow-400 hover:text-yellow-500 text-sm underline"
        >{{i18n "Register Here!"}}</a>
      </div>
    </div>
  {{/if}}
</div>